@font-face {
    font-family: poppins;
    src: url(/poppins.woff2);
   }
@font-face {
    font-family:lp;
    src: url(/lp.woff2);
}

$f2-size: 24px;

@mixin cards {border-top-style: outset; border-radius: 1.75%; border-width: 4px; position: relative; margin-bottom: 24px; padding-left: 28px; padding-top: 26px; padding-right: 28px;padding-bottom: 118px; background-color: white; font-size: 13px; box-shadow: 10px 15px 20px #b9b9b9}

body {font-family: poppins; color: #4D4F62; margin: 0px} 

// Mobile

@media only screen and (max-width:375px){

    // containers

    body {background-color: #F2F2F2;}
    .header {width: 311px;  margin-left: 32px; margin-top: 85px; background-color: #F2F2F2}
    .container {display: flex; flex-direction: column; padding-top: 76px; padding-left: 32px;padding-right: 32px; padding-bottom: 78px; background-color: #F2F2F2;}

    // header
        
    div h1 {font-family: lp; font-size: $f2-size; font-weight: 200; margin: 0%; letter-spacing: 0.6px;}
    h2 {font-size: $f2-size; font-weight:600; text-align: center; margin: 0%; margin-bottom: 15px; letter-spacing: 1.1px}
    .header p {font-size: 15px; text-align: center; margin: 0%; opacity: 0.5;}
    div h3 {font-size: 20px; margin:0}

    // cards

    .card {@include cards}

    .card.super {border-color: #00C8C8;}
    .card.team {border-color: #FF637B}
    .card.karma {border-color: #FDBF00}
    .card.calc {border-color :#377FD2}

    .card p {font-size: 13px; width: 254px; margin: 0; line-height: 23px; opacity: 0.5;}

    img {position: absolute; bottom: 25px; right: 25px;}
 
}

// Desktop

@media only screen and (min-width: 1440px){

    // containers

    body {background-color: #F2F2F2;}
    .header {width: 540px; background-color: #F2F2F2; margin-left: 450px; margin-bottom: 60px; margin-right: 0px; margin-top: 80px;}
    .container {display: flex; flex-direction: row; background-color: #F2F2F2;}
    
    // header

    div h1 {font-family:lp; font-size: 36px; font-weight: lighter; text-align: left; margin-left: 48px; letter-spacing: 0.17px;  margin-right: 0px; margin-bottom: 0px; margin-top: 0px;}
    div h2 {font-size: 2.250em; font-weight:600; text-align: center; margin: 0%; margin-bottom: 15px; letter-spacing: 0.5px}
    .header p {font-size: 15px; text-align: center; margin: 0%; opacity: 0.5;}
    div h3 {font-size: 20px; margin:0}


    // cards
     
    .card {border-top-style: outset; border-radius: 1.75%; border-width: 4px; position: relative; width: 318px; height: 214px; background-color: white; font-size: 20px; padding-top: 32px; padding-left: 32px; margin-right: 28px; box-shadow: 10px 15px 20px #b9b9b9}

    .card.super {border-color: #00C8C8; margin-top: 140px; margin-left: 168px;}
    .card.team {border-color: #FF637B; margin-bottom: 28px;}
    .card.karma {border-color: #FDBF00}
    .card.calc {border-color :#377FD2; margin-top: 140px;}

    .card p {font-size: 13px; width: 254px; margin: 0; line-height: 23px; opacity: 0.5;}

    img {position: absolute; bottom: 25px; right: 25px;}

}

// responsive

@media only screen and (min-width: 376px) and (max-width: 1439px){

        // containers

        body {background-color: #F2F2F2;}
        .responsive {display:flex; justify-content: center;}
       .header {max-width: 540px; background-color: #F2F2F2; margin-bottom: 60px; margin-right: 0px; margin-top: 80px;}
        .container {display: flex; flex-direction: row; background-color: #F2F2F2; justify-content: center;}
        
        // header
    
        div h1 {font-family:lp; font-size: 36px; font-weight: lighter; text-align: left; margin-left: 48px; letter-spacing: 0.17px;  margin-right: 0px; margin-bottom: 0px; margin-top: 0px;}
        div h2 {font-size: 2.250em; font-weight:600; text-align: center; margin: 0%; margin-bottom: 15px; letter-spacing: 0.5px}
        .header p {font-size: 15px; text-align: center; margin: 0%; opacity: 0.5;}
        div h3 {font-size: 20px; margin:0}
    
    
        // cards
         
        .card {border-top-style: outset; border-radius: 1.75%; border-width: 4px; position: relative; max-width: 318px; background-color: white; font-size: 20px; padding-top: 32px; padding-left: 32px; margin-right: 28px; box-shadow: 10px 15px 20px #b9b9b9;}
    
        .card.super {border-color: #00C8C8; margin-top: 140px;}
        .card.team {border-color: #FF637B; margin-bottom: 28px;}
        .card.karma {border-color: #FDBF00}
        .card.calc {border-color :#377FD2; margin-top: 140px;}
    
        .card p {font-size: 13px; -ms-text-kashida-space: 254px; margin: 0; line-height: 23px; opacity: 0.5; padding-bottom: 136px;}
    
        img {position: absolute; bottom: 25px; right: 25px;}

}

